* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


button {
    border-radius: 12px;
    font-size: 15px;
}

.card-header {
    margin: 0;
    font-size: 2rem;
}

.card-form {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.card-body {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 10px;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 10px rgba(13,110,253,.3);
}

.btn-primary {
    border-radius: 10px !important;
    padding: 10px 30px;
    font-weight: 600;
}
